#root {
  background: wheat;
  height: 100vh;
}
.main-app {
  display: flex;
  .title {
    margin: 10px;
    padding: 10px;
    text-align: center;
    // background-color: aquamarine;
    cursor: pointer;
  }

  .button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    background-color: aquamarine;
    cursor: pointer;
  }

  li {
    a {
      color: blue;
    }
  }

  .right {
    width: 80%;
  }
}
.remote-element {
  background: cornflowerblue;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.com1 {
  background: aquamarine;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  color: burlywood;
}
