body {
  background: wheat;
}
.main-app {
  display: flex;

  .logo {
    color: #000000c9;
  }
  .home {
    // background: lightgreen;
    background: #d1ffd1;
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    color: #9d59dd;
  }
  .title {
    margin: 10px;
    padding: 10px;
    text-align: center;
    // background-color: aquamarine;
    cursor: pointer;
  }

  .block {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    color: cadetblue;
    // color: #e6a44e;
  }
  .button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    background-color: aquamarine;
    cursor: pointer;
  }

  li {
    a {
      color: blue;
    }
  }

  .right {
    width: 80%;
    margin: 60px;
  }
}
.remote-element {
  background: #d1ffd1;
  padding: 20px;
  border-radius: 20px;
  // color: #fff;
  margin-bottom: 16px;
}

.com1 {
  background: #94ffdb;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  color: #3dc03d;
}
